.main-container
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    margin-top:80px;
    gap:20px;
    justify-content: center;
}

.form-input
{
    display:flex;
    position:relative;
    background: linear-gradient(rgb(74, 163, 177), rgb(236, 176, 64) 90%);
    flex-direction:column;
    align-items:center;
    justify-content:start;
    margin-left:20px;
    padding:30px;
    border:1px solid white;
    border-radius:20px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3);
}

.left-side,.right-side,.date-departure
{
    display:flex; 
    flex-direction: column;

}
.img-right-side{
    width:300px;
}
.date-departure{
    display:flex;
    flex-direction: column;
    justify-content:start;
}
.left-side select,.right-side select
{
    /* width:250px; */
    background-color:white;
    border:0.3px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius:15px;
    color:black; 
    padding:10px;
}
.left-side select:focus, select:hover
 {
     background-color: white; 
     border:none;
     transition:0.3s;
}

.container
{
    display: grid;
    gap:20px;
    justify-content: space-around;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr;
}
.input-container {
    position: relative;
    color:#100f0f;
  }
  
  
  
  /* Ensure the container has proper styling */
.selected-places {
    margin-top: 20px; /* Add some margin if needed */
    padding: 10px; 
  }
  
  /* General input styling */
  .selected-places input {
    width: 100%; /* Ensure the input takes full width */
    padding: 15px; /* Add some padding */
    font-size: 16px; /* Set font size */
    border:1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
.info-from-selection
{
    display:flex;
    gap:50px;
    margin-top:50px;

}

.date-departure
{
    display: flex;
    flex-direction: column;
    /* margin-top:30px; */
    align-items:start;
}
.date-departure input
{
    width:200px;
    border-radius:8px;
    padding:6px;
    border:1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.right-section{
    /* width:500px; */
}
.next-btn
{
    width:100px;
    padding:7px 12px;
    font-size: 18px;
    border-radius: 20px;
    border:none;
    background-color:rgb(154, 109, 197);
    color:white;
    cursor:pointer;
    transition: 0.3s;
}
.next-btn:hover{
    transform:scale(1.04);
    transition: 0.3s;
}


@media(max-width:768px)
{
    .img-right-side{
        display:none;
    
    }
    .container{
        display:flex;
        flex-direction: column;
    }
    .main-container
    {
       display:flex; 
       
       padding:30px;
       margin:70px 20px;

    }
    .info-from-selection{
        display:flex;
        flex-direction: column;
        gap:10px;
    }
}


  