.paying-conatainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.option-contianer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: center;

}