
.menu {
    display: flex;
    height:70px;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 0px; */
    position: fixed;
    top: 0;
    right:0;
    left:0;
    width:100%;
    z-index: 1000;
    padding:15px 70px; 
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.1);
  }
  #white_back
  {
    background-color:white;
    color:black;
  }
  #dark_back
  {
    background-color:black;
    color:white;
  }
  .dark-icon
  {
    cursor: pointer;
  }
.menu ul
{ 
    display:flex;
    gap:20px;
 

}
ul li 
{
    display:flex;
    
    list-style: none;
    font-size:20px;
}
.right-head
{
    display:flex;
    gap:20px;
    font-size:22px;
}

.menu-open-icon{
  width:30px;
  color:black;
  display:none;
}
.menu-close-icon{
  display: none;
  color:black;
  width:30px;
}
@media(max-width:768px)
{
  .menu ul{
      position:fixed;
      background-color:whitesmoke;
      margin-top:80px;
      flex-direction:column;
      align-items:start;
      top:0;
      right:-320px;
      gap:30px;
      width:200px;
      height:100%;
      transition:right 0.3s;
      z-index:2;
  }
  li
  {
      font-size:30px;
      padding-left:100px;
      flex-direction:row;
      color:black;
      gap:20px;
      
  }
  .menu-open-icon{
    display:block;
    position:relative;
    right:-30px;
    cursor:pointer;
  }
  .menu-close-icon
  {
      display:block;
      position:relative;
      top:30px;
      left:2px;
      width:20px;
  }
  .right-head{
    display:none;
  }
}