
.menu {
    display: flex;
    height:70px;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 0px; */
    position: fixed;
    top: 0;
    right:0;
    left:0;
    width:100%;
    z-index: 1000;
    padding:15px 70px; 
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.1);
  }
  #white_back
  {
    background-color:white;
    color:black;
  }
  #dark_back
  {
    background-color:black;
    color:white;
  }
  .dark-icon
  {
    cursor: pointer;
  }
.menu ul
{ 
    display:flex;
    gap:20px;
 

}
ul li 
{
    display:flex;
    
    list-style: none;
    font-size:20px;
}
.right-head
{
    display:flex;
    gap:20px;
    font-size:22px;
}

.menu-open-icon{
  width:50px;
  color:black;
  display:none;
}
@media(max-width:768px)
{
  .menu ul{
    display: none;
  }
  .menu-open-icon{
    display:block;
  }
  .right-head{
    display:none;
  }
}