.page-container{
 margin:75px 180px;
}
.form-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;

}
.name-section,.departure-info{
    display:flex;
    flex-direction: column;
}
.name,.time-and-pickup{
    display:flex;
    gap:20px;
}
.phoneNo-input{
    width:300px;
}
.form-section label{
    font-size: 16px;
    font-weight:450;
}
.form-section p{
    text-align: center;
}

.selected-info{
    padding:10px;
    transition:0.3s;
    border-radius: 30px;
    margin:10px;
    display:flex;
    flex-direction: column;
}
.selected-info:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition:0.3s;
}
.back-navigation
{
    display:flex;
    justify-content: center;
    gap:30px;
}
.submit-btn:hover 
{
    background:rgb(18, 133, 215);
    color:white;
    transition:0.3s;
}
 .form-section input,.form-section select{
    border-radius: 4px;
    border:0.3px solid black;
    line-height: 10px;
    padding:7px;
    width:100%;
}

.pay-img-container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap:10px;
    cursor:pointer;
    justify-content:space-around;
}
.pay-img-container img{
    width:200px;
    /* style={{width:"200px"}} */
}
.back-navigation button, .submit-btn
{
    padding:10px;
    width:150px;
    border:1px solid white;
    font-weight:600;
    font-size:20px;
    border-radius: 20px;
}

@media(max-width:768px)
{
    .FillForm-container{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:20px;
        
    }
    .form-section{
        display: flex;
        flex-direction: column;
        gap:30px;
    }
    .back-navigation button{
        padding:5px 3px;
        margin-bottom:50px;
    }
    .pay-img-container img{
        width:120px;
    }
    .page-container{
        margin:70px 40px;
       }
       .name,.time-and-pickup{
        flex-direction: column;
       }
    .phoneNo-input
    {
        width:100%;
    }

}om