
.contact{
    display:flex;
    flex-direction: column;
}
.footer{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top:5px;
    gap:30px;
    margin-bottom:0px;
}
.social-medias{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:30px;
}
.social-medias p{
    font-size: 23px;
    cursor: pointer;
    transition:0.3s;
}
.social-medias p:hover{
    transform: scale(1.04);
    transition:0.3s;  
    background: linear-gradient(rgb(74, 163, 177), rgb(236, 176, 64) 90%);
    -webkit-background-clip: text;
color: transparent;

}
@media(max-width:768px)
{
    .footer{
        flex-direction: column;
        gap:10px;
    }
}
