/* App.css */
html, body {
    height: 100%;
    margin:25px 0px 0px 0px;
    padding: 0;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }
  
  .light-mode {
    background-color: white;
    color: black;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  